            /* yeseva one font-family: 'Yeseva One', cursive;
         nunito  font-family: 'Nunito Sans', sans-serif; */
            
            html {
                background-color: white;
                width: 1440px;
            }
            
            body {
                margin: 0px;
                font-family: 'Nunito Sans', sans-serif;
            }
            
            body * {
                box-sizing: border-box;
            }
            
            .title {
                margin: 0;
                font-family: 'Yeseva One', cursive;
                font-style: normal;
                font-weight: 400;
                line-height: 1.3;
                text-transform: uppercase;
            }
            
            .subtitle {
                font-family: 'Yeseva One', cursive;
                font-style: normal;
                font-weight: 400;
                line-height: 1.3;
            }
            
            .subtitle_2 {
                font-family: 'Yeseva One', cursive;
                font-style: normal;
                line-height: 1.3;
            }
            
            .button {
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 400;
                text-transform: uppercase;
            }
            
            .button_call {
                background: #E3B873;
                font-style: italic;
                border-radius: 2px;
                width: 161px;
                height: 37px;
                border-width: 1px;
                border-color: #E3B873;
                color: white;
                text-align: center;
                font-size: 11px;
            }
            
            .logo {
                font-family: 'Nunito Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                text-transform: uppercase;
                font-size: 11px;
                line-height: 15px;
                color: #E3B873;
            }
            
            .header {
                background-color: black;
            }
            
            .header_content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 83px;
                width: 1256px;
                padding-left: 40px;
                padding-right: 70px;
                margin-left: 92px;
            }
            
            .header_nav {
                list-style: none;
                display: flex;
            }
            
            .header_nav_item {
                margin-right: 47px;
            }
            
            .header_nav_item a {
                font-family: 'Nunito Sans', sans-serif;
                text-decoration: none;
                font-size: 11px;
                line-height: 15px;
                color: white;
            }
            
            .header_nav_item a:hover {
                color: #E3B873;
            }
            
            .phone {
                margin-right: 45px;
                font-size: 11px;
                text-decoration: underline;
                text-align: right;
                color: #E3B873;
            }
            
            .main_page {
                height: 707px;
            }
            
            .hero {
                background-image: url('Images/image 4.3.jpg');
                background-size: cover;
                height: 707px;
                padding-top: 194px;
                padding-left: 134px;
                padding-right: 627px;
                position: relative;
            }
            
            .hero-overlay {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.7);
            }
            
            .hero-container {
                position: relative;
                z-index: 1;
            }
            
            .title_p1 {
                font-size: 40px;
                color: white;
            }
            
            .yellow {
                color: #E3B873;
            }
            
            .text_p1 {
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 36px;
                color: #FFFFFF;
            }
            
            .order_buttons {
                position: relative;
                display: flex;
                justify-content: space-between;
                z-index: 1;
            }
            
            .button2_page1 {
                background: #E3B873;
                width: 207px;
                height: 51px;
                border-width: 1px;
                border-color: #E3B873;
                color: white;
                text-align: center;
                font-size: 11px;
            }
            
            .transparent {
                box-sizing: border-box;
                background: none;
                font-style: italic;
                border-radius: 2px;
                width: 207px;
                height: 51px;
                outline: 0;
                border-width: 1px;
                border-color: white;
                color: white;
                margin-left: 20px;
                box-shadow: none;
                text-align: center;
                font-size: 11px;
            }
            /* page 1 end page 1 end page 1 end page 1 end page 1 end*/
            
            .projects_page {
                display: block;
                background-color: black;
                height: 1090px;
                padding-top: 50px;
            }
            
            .page2 {
                display: block;
                position: relative;
                margin-top: 80px;
                margin-left: 134px;
                margin-right: 100px;
                padding-bottom: 414px;
            }
            
            .header_nav2 {
                display: flex;
                justify-content: flex-end;
                height: 83px;
                margin-right: 50px;
            }
            
            .header_nav_item2 a {
                width: 194px;
                font-family: 'Yeseva One', cursive;
                text-decoration: none;
                font-size: 14px;
                line-height: 19px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.3);
                padding-bottom: 5px;
            }
            
            .header_nav_item2 a:hover {
                color: #E3B873;
                border-bottom: 1px solid #E3B873;
            }
            
            .header_nav_item2 {
                margin-left: 60px;
            }
            
            .title_p2 {
                font-size: 27px;
                letter-spacing: -0.07em;
                color: #E3B873;
                margin-top: -20px;
            }
            
            .h2_p2 {
                font-size: 18px;
                color: #E3B873;
            }
            
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 27px;
                color: #FFFFFF;
                margin-top: 34px;
                text-transform: none;
                margin-top: 9px;
            }
            
            .container2 {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }
            
            .container2_item2 {
                margin-left: 65px;
            }
            
            .img1st {
                display: block;
                position: absolute;
                border: none;
                right: 0;
                top: 68px;
                width: 679px;
                height: 482px;
            }
            
            .group8 {
                display: block;
                position: absolute;
                left: 0;
                top: 538px;
            }
            
            .online_control {
                display: inline-block;
                position: absolute;
                font-family: 'Yeseva One', cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                left: 489px;
                bottom: 150px;
            }
            
            .container_page3 {
                display: block;
                position: absolute;
                margin-left: 329px;
                margin-top: -100px;
                height: 434px;
                width: 815px;
            }
            
            .image_page3 {
                display: block;
                position: absolute;
                margin-left: 0px;
                margin-top: 0x;
                height: 434px;
                width: 815px;
                z-index: 1;
            }
            
            .layer_page3 {
                display: block;
                position: absolute;
                margin-left: 0px;
                margin-top: 0px;
                height: 434px;
                width: 815px;
                z-index: 2;
            }
            
            .svg_page3 {
                display: block;
                position: absolute;
                width: 85px;
                height: 85px;
                margin-left: 347px;
                margin-top: 175px;
                z-index: 3;
            }
            /* page 2 end page 2 end page 2 end page 2 end page 2 end*/
            
            .measurements_page {
                height: 1370px;
            }
            
            .text_page3 {
                display: flex;
                justify-content: center;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 37px;
                text-align: center;
                color: #363636;
            }
            
            .rectangle_69 {
                display: block;
                margin-left: 693px;
                padding-top: 270px;
                margin-bottom: 34px;
            }
            
            .input_form_page3 {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin: 0;
            }
            
            div>form {
                margin-left: 58px;
            }
            
            .placeholder {
                width: 231px;
                height: 23px;
                background-color: transparent;
                border: none;
                outline: none;
                outline-offset: none;
                border-bottom: 1px solid rgba(54, 54, 54, 0.3);
            }
            
            b {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 21px;
                color: rgba(54, 54, 54, 0.5);
            }
            
            input::placeholder {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 23px;
                height: 17px;
                color: #363636;
            }
            
            .button_page3 {
                background: #E3B873;
                width: 200px;
                height: 51px;
                border-radius: 2px;
                border-color: #E3B873;
                color: white;
                text-align: center;
                font-size: 13px;
            }
            
            .checkbox {
                display: flex;
                justify-content: center;
                margin-top: 40px;
            }
            
            .custom_checkbox {
                width: 18px;
                height: 18px;
                border: none;
                border-color: none;
                border-radius: 1px;
                margin: 3px 3px 3px 4px;
                padding: initial;
            }
            
            .custom_checkbox:checked {
                display: block;
                width: 18px;
                height: 18px;
                border: none;
                border-radius: 1px;
                background-color: #E3B873;
                appearance: unset;
                margin: 3px 3px 3px 4px;
                padding: initial;
                content: stroke;
            }
            
            .checkbox_text {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 23px;
                padding-left: 8px;
            }
            
            .checkbox_text_p3 {
                color: #181818;
            }
            
            .types_of_repair {
                font-family: 'Yeseva One', cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                text-transform: uppercase;
                color: #181818;
                padding-top: 75px;
                margin-bottom: 0;
            }
            
            .svg_114 {
                padding-left: 660px;
                padding-top: 3px;
                margin: 0;
            }
            
            .repair_opt_p3 {
                display: flex;
                justify-content: center;
                margin-top: 31px;
                background-color: white;
                padding-bottom: 250px;
            }
            
            .repair_opt_p3>div {
                width: 392 px;
                height: 421px;
                padding-left: 30px;
            }
            /*  picture size */
            
            .deco_option {
                display: block;
                position: absolute;
                width: 330px;
                height: 286px;
                padding-left: 31;
                margin-top: -127px;
                margin-left: 31px;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
            }
            /* discription size */
            
            .deco_option {
                background-color: white;
                z-index: 3;
            }
            
            .deco_page3 {
                padding-left: 31px;
                font-size: 18px;
                color: #363636;
            }
            
            .deco_item_page3 {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 27px;
                color: #959595;
            }
            
            .button_price {
                width: 228px;
                height: 54px;
                text-align: center;
                background-color: #E3B873;
                border-radius: 2px;
                border-color: #E3B873;
            }
            
            .but_price {
                color: #FFFFFF;
                font-size: 18px;
            }
            /* page 3 end page 3 end page 3 end page 3 end page 3 end*/
            
            .request_page {
                height: 1000px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-left: 0px;
                margin-right: 100px;
            }
            
            .container_page4 {
                background-image: url(images/image\ 6.1.png);
                background-color: white;
                width: 700px;
                height: 645px;
                padding-bottom: 52px;
                padding-top: 117px;
                margin-right: 60px;
            }
            
            .container_page4_22 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                width: 374px;
                height: 473px;
                margin-top: 20px;
                margin-left: 150px;
            }
            
            .circle_p4 {
                display: flex;
                box-sizing: unset;
                justify-content: center;
                align-items: center;
                min-width: 41px;
                min-height: 41px;
                background: #E3B873;
                border: 8px solid #FFFFFF;
                box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
                border-radius: 30px;
                font-family: 'Yeseva One', cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                color: #FFFFFF;
            }
            
            .text_page4 {
                display: flex;
                margin-left: 6px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #363636;
            }
            
            .border_circle {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 374px;
            }
            
            .container_page4_2 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                background-color: black;
                margin-top: 200px;
            }
            
            form:nth-child(6) {
                align-self: flex-end;
                margin-right: 49px;
                margin-top: 39px;
                margin-bottom: 27px;
            }
            
            form:nth-child(1) {
                align-self: center;
                margin: 0;
            }
            
            .header_page4 {
                font-style: normal;
                font-weight: normal;
                text-align: left;
                font-size: 18px;
                line-height: 26px;
                color: #FFFFFF;
            }
            
            .checkbox_text_p4_p7 {
                color: white;
            }
            
            .button_page4 {
                background: #E3B873;
                width: 213px;
                height: 51px;
                border-color: #E3B873;
                color: white;
                text-align: center;
                font-size: 13px;
                line-height: 21px;
                box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
            }
            
            .p4 {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 21px;
                color: rgba(255, 255, 255, 0.5);
            }
            
            .placeholder_p4::placeholder {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 23px;
                color: #FFFFFF;
            }
            
            .placeholder_p4 {
                width: 408px;
                height: 23px;
                background-color: transparent;
                border: none;
                outline: none;
                outline-offset: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 23px;
                color: #FFFFFF;
            }
            
            .container_page4_3 {
                display: flex;
                background-color: white;
                align-items: center;
                padding-left: 20px;
                padding-top: 10px;
                z-index: 3;
            }
            
            .text_helpsave {
                text-align: left;
                font-size: 18px;
                color: #E3B873;
                font-style: normal;
                font-weight: normal;
                line-height: 23px;
                width: 344px;
                height: 47px;
            }
            /* page 4 end page 4 end  page 4 end  page 4 end */
            
            .styles_page {
                height: 864px;
                margin-top: 90px;
            }
            
            .container_page5 {
                display: flex;
                background-image: url(images/image\ 5.1.png);
                background-size: cover;
                height: 864px;
                position: relative;
            }
            
            .container_page5-overlay {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.7);
            }
            
            .content_page5 {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: space-between;
                width: 411px;
                height: 750px;
                z-index: 2;
                padding-top: 137px;
                padding-left: 99px;
            }
            
            .header_page5 {
                font-weight: 700;
                font-size: 18px;
                text-transform: uppercase;
                color: #E3B873;
            }
            
            .li_p5 {
                list-style-type: none;
            }
            
            .li_p5 a {
                color: white;
                font-weight: normal;
                font-style: normal;
                text-decoration: none;
                font-size: 20px;
                text-align: left;
            }
            
            .li_p5 a:hover {
                color: #E3B873;
                border-bottom: 1px solid #E3B873;
            }
            
            .list_page5 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 299px;
                height: 516px;
                padding-left: 0;
            }
            
            .image5_1 {
                min-width: 353px;
                min-height: 556;
                width: 353px;
                height: 556;
                margin-top: -40px;
                margin-bottom: 47px;
            }
            
            .image5_4 {
                display: block;
                min-width: 353px;
                min-height: 275px;
                width: 353px;
                height: 275px;
                margin-top: -420px;
                margin-bottom: 80px;
            }
            
            .image5_3 {
                min-width: 354px;
                min-height: 349px;
                width: 354px;
                height: 349px;
            }
            
            .image5_2 {
                display: block;
                min-width: 353px;
                min-height: 625px;
                width: 353px;
                height: 625px;
                margin-top: -380px;
                margin-bottom: 50px;
            }
            
            .pictures_page5 {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                z-index: 2;
                margin-top: 0px;
                align-items: center;
                margin-left: 70px;
            }
            
            div>img {
                margin-left: 47px;
            }
            /* page 5 end page 5 end  page 5 end  page 5 end */
            
            .clients_page {
                height: 1017px;
                padding-top: 69px;
                height: 1025px;
            }
            
            .header_p6 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .our_clients {
                font-family: 'Yeseva One', cursive;
                font-style: normal;
                font-size: 20px;
                line-height: 27px;
                text-transform: uppercase;
                color: black;
                margin-left: 50px;
            }
            
            .svg_11_4 {
                width: 114px;
                height: 27px;
            }
            
            .clients_recommend_p6 {
                font-size: 18px;
                font-style: normal;
                font-weight: normal;
                color: black;
                width: 476px;
                height: 57px;
                text-align: center;
                margin-left: 50px;
                margin-top: 24px;
            }
            
            .clients_stories_p6 {
                display: flex;
                justify-content: center;
                margin-top: 31px;
                background-color: white;
                padding-bottom: 250px;
            }
            
            .clients_stories_p6>container {
                width: 376px;
                height: 428px;
                padding-left: 20px;
                margin-left: 54px;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
            }
            
            .client_foto {
                display: inline-block;
                width: 76px;
                height: 76px;
                border-radius: 50%;
                margin-left: 20px;
            }
            
            .client_info_p6 {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            
            .cl_name_p6 {
                font-size: 18px;
                color: black;
                margin-left: 23px;
                width: 178px;
                height: 42px;
            }
            
            .client_story_p6 {
                font-style: normal;
                font-size: 13px;
                line-height: 23px;
                color: #959595;
                text-align: left;
                width: 324px;
                height: 239px;
                margin: 39px 31px 67px 20px;
            }
            
            .client_app {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: #E3B873;
                width: 293px;
                height: 54px;
                padding-left: 0;
                margin-top: -40px;
                margin-left: -20px;
            }
            
            .h5 {
                font-family: 'Yeseva One', cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                text-transform: uppercase;
                line-height: 23px;
                color: white;
                padding-left: 15px;
                padding-top: 12px;
                text-align: center;
            }
            
            .pic_p6 {
                width: 32px;
                height: 31px;
                margin-left: 17px;
            }
            
            .pic_p6_2 {
                width: 32px;
                height: 31px;
                margin-left: 17px;
            }
            
            .vector_2 {
                margin-left: 13px;
                height: 54px;
                width: 2px;
            }
            
            .frame_cont {
                display: flex;
                align-items: flex-end;
                height: 150px;
                z-index: -1;
            }
            
            .frame_p6 {
                transform: rotateY(180deg);
            }
            
            .frame_p6_2 {
                margin-left: -122px;
            }
            /* page 6 end page 6 end  page 6 end  page 6 end */
            
            .questions_page {
                height: 1120px;
            }
            
            .background_p7 {
                display: flex;
                flex-direction: column;
                height: 953px;
                justify-content: space-between;
                align-items: center;
                background-image: url(images/image\ 7.2.png);
                background-size: cover;
                position: relative;
                margin-top: -250px;
                z-index: -1;
            }
            
            .background_p7-overlay {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(24, 24, 24, 0.8);
                z-index: -1;
            }
            
            .questions_form_p7 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                background-color: black;
                min-width: 883px;
                min-height: 445px;
                width: 883px;
                height: 445px;
                margin-top: -100px;
                margin-left: 288px;
                padding: 34px 181px;
                z-index: 2;
            }
            
            .header_page7 {
                align-self: center;
                color: #FFFFFF;
                font-size: 20px;
                margin-top: -20px;
            }
            
            .name_phone_p7 {
                display: flex;
            }
            
            .p7 {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 21px;
                color: rgba(255, 255, 255, 0.5);
            }
            
            .phone_p7 {
                margin-left: 57px;
            }
            
            .placeholder_p7::placeholder {
                font-family: Nunito Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 23px;
                color: #FFFFFF;
            }
            
            .placeholder_p7_1::placeholder {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 23px;
                color: #FFFFFF;
            }
            
            .placeholder_p7_1 {
                width: 231px;
                height: 45px;
                background-color: transparent;
                border: none;
                outline: none;
                outline-offset: none;
                color: white;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 23px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            }
            
            .placeholder_p7 {
                width: 516px;
                height: 45px;
                background-color: transparent;
                border: none;
                outline: none;
                outline-offset: none;
                color: white;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 23px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            }
            
            .checkbox_p7 {
                align-self: center;
            }
            
            .button_page7 {
                align-self: center;
                background: #E3B873;
                width: 200px;
                min-height: 51px;
                border-color: #E3B873;
                color: white;
                text-align: center;
                font-size: 13px;
                line-height: 21px;
                margin-top: 50px;
                box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
            }
            
            .container_map_p7 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-top: 270px;
                z-index: 2;
                width: 925px;
                height: 613px;
            }
            
            .link_p7 {
                display: flex;
                justify-content: space-between;
                width: 71px;
                height: 28px;
                margin-bottom: 30px;
            }
            
            .map_p7 {
                width: 995px;
                height: 465px;
            }
            
            .adress_p7 {
                display: block;
                width: 589px;
                height: 51px;
                font-size: 20px;
                color: #E3B873;
                text-align: center;
                vertical-align: top;
            }
            
            .footer {
                background-color: black;
                height: 133px;
                display: flex;
                align-items: center;
            }
            /* page 7 end page 7 end page 7 end page 7 end page 7 end*/